# Ignore the build directory
Production/LEDMaster/build/

# Ignore the .vscode directory
Production/LEDMaster/.vscode/

# Ignore the .vscode build
Production/LEDMaster/build/

# Ignore the .metadata 
.metadata
 
Production/LEDMaster/.project